body {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.mainbody {
    margin: auto;
    width: 90%;
}

.menu {
    margin: auto;
    width: 100%;
    border: 1px solid;
    padding: 0px;
    font-weight: bold;
}

.menu td {
    border: 1px solid;
    padding: 3px;
    background-color: #ccccff;
    font-size: 10pt;
}

.menu a {
    display: block;
    text-decoration: none;
}

.footer {
    margin: auto;
    width: 100%;
    border: 1px solid;
}

.footer td {
    border: 1px solid;
    background-color: #ccccff;
}

h1,h2 {
    background-color: #eeeeee;
}

.accounttable {
    width: 100%;
    background-color: #eeeeee;
}

.accounttable td {
    vertical-align: top;
    padding: 5px;
}

.leftmenu {
    background-color: #cccccc;
    width: 25%;
}

.leftmenu li {
    font-size: 10pt;
}

.currency {
    text-align: right;
}

.dataarea {
    margin: auto;
}

.mismatch {
    color: #ff0000;
}

.details {
    width: 100%;
    /*background-color: #ffffff;*/
    font-size: 10pt;
    border: 1px solid;
}

.details a {
    display: block;
    border: 2px outset;
    text-decoration: none;
    color: #000000;
}

.details td {
    border-top: 1px dotted #999999;
}

.summary {
    background-color: #ffffff;
    font-size: 10pt;
}

.summary td {
    padding: 5px;
}

.monthlist {
    margin: auto;
    background-color: #ffffff;
}

.monthlist th {
    background-color: #eeeeee;
}

.accountname {
    font-weight: bold;
}

.acheader {
    font-size: 10pt;
    width: 100%;
}

.descdropdown {
    text-decoration: none;
}

.descdropdown:hover {
    text-decoration: underline;
}

#dtres {
    position: absolute;
    margin-top: 0px;
    display: none;
    border: 1px solid;
    padding: 5px;
    padding-top: 10px;
    font-size: 10pt;
    background: #ffffff;
    z-index: 101;
}

#dfres {
    position: absolute;
    margin-top: 0px;
    display: none;
    border: 1px solid;
    padding: 5px;
    padding-top: 10px;
    font-size: 10pt;
    background: #ffffff;
    z-index: 100;
}

#desc {
    position: absolute;
    margin-top: 0px;
    display: none;
    border: 1px solid;
    padding: 5px;
    padding-top: 10px;
    font-size: 10pt;
    background: #ffffff;
    z-index: 100;
}

#desc a {
    border: 0px;
    display: inline;
}

.closebutton {
    position: absolute;
    text-align: right;
    z-index: 200;
    background-color: #cccccc;
    right: 0px;
    top: 0px;
}

.closebutton a {
    text-decoration: none;
}

.message {
    width: auto;
    margin: auto;
}

.total {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

.lonecheckbox {
    border: 2px outset;
}
