%p
  Balance:
  = number_to_currency @transactions.sum(:amount) + @account.beginning_balance(session[:month])
  Cleared balance:
  = number_to_currency @transactions.cleared.sum(:amount) + @account.beginning_balance(session[:month], true)
  Beginning balance:
  = @account.beginning_balance(session[:month], true)
