%p
  Balance:
  = number_to_currency @month.balance + @month.start_amount
  Cleared balance:
  = number_to_currency @month.cleared_balance + @month.start_amount
  Beginning balance:
  = number_to_currency @month.start_amount
