
= form_for @account do |form|
  New account:
  = form.text_field :name
  = submit_tag 'Create'

- if Account.archived.exists?
  .archived.account_list
    Archived accounts:
    - Account.archived.order(:name).each do |ac|
      = link_to ac.name, account_path(ac.id)
